

@font-face {
    font-family: Coolvetica;
    src: url(fonts/LEMONMILK-Regular.otf);
}

.main-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

body.dark-theme{
    background-color: #121212;
  color: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-behavior: smooth; 
    scroll-behavior: smooth !important;
}

body{
    background-color: #f0f8ff;
    width: 960px;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #9358a4;
}

.header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 70px;
   background-color: #fff;
   box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
   z-index: 100 ;
}
.header button.logo{
    margin-top: 20px;
    margin-left: 2%;
    float: left;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 20px;
    height: 30px;
}

.header a{
    color: #201b2c;
    margin-top: 25px;
    margin-right: 1%;
    float: right;
    text-decoration: none;
    font-size: 15px;
    font-family: Coolvetica;
}

.header button{
    margin-top: 25px;
    margin-right: 1%;
    float: right;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 15px;
}

.header button.btn-right{
    position: relative;
    top: -26px ;
    margin:0;
    padding: 25px 5px;
    float: right;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #263238;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 15px;
    transition: background-color 0.3s;
    
}
.header button.btn-right:hover {
    background-color: #bcc0c46a;
    color: #201b2c;
}
.btntheme{
    position: relative;
    top:-1rem;
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
}

.header button.btn-contact{
    position: relative;
    top:-40px;
    width: 120px;
    height: 50px;
    padding: 13px 0px;
    border: 2px solid #b869c6;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    font-family: Coolvetica;
    letter-spacing: 2px;
    color: #fff;
    background-color: #b869c6;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #bcc0c4;
    margin-left: 3rem;
}
.header button.btn-contact:hover {
    background-color: #f0f8ff; 
     color: #b869c6; 
}

.icon{
    position: relative;
    top: 9rem;
    left:3rem;
}

.icon img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}
.pg1{
    display: grid;
    position: relative;
    top:-3rem;
    left:8rem;
}

.title{ 
    text-align: left;
    font-size: 30px;
    font-family: Coolvetica;
    line-height: normal;
    font-style: #fff;
   
}
.title h2{
    margin:0;
}

.title p{ 
    line-height: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 17px;
    text-align: justify;
    
}

.title button{
    position: relative;
    top:-2rem;
    width: 180px;
    padding: 13px 0px;
    border: 2px solid #b869c6;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    font-family: Coolvetica;
    letter-spacing: 2px;
    color: #f0f8ff;
    background-color: #b869c6;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #bcc0c4;
}

.title button.portfolio:hover{
        background-color: #f0f8ff; 
        color: #b869c6; 
}

.title button.scroll{
    position: relative;
    top:4rem;
    width: 200px;
    padding: 10px 10px;
    border:none;
    outline: none;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    background: url('img/icon dowm.png') no-repeat 165px center;
    background-size: 20px;
    color: #b869c6;
    cursor: pointer;
    box-shadow: none;
}

.animated{
    position: relative;
    top:-23rem;
    left:60%;  
}
.animated img{
max-width:450px;
max-height:450px;
width: auto;
height: auto;
}
.pg2{
    
    position: relative;
    top:-20rem;  
    left:0;
}
.skills{ 
        text-align: center;
        font-size: 30px;
        font-family: Coolvetica;
        line-height: normal;
        font-style: #fff;
}

.skills button {
    position: relative;
    width: 175px;
    padding: 20px 0px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(188,192,196,1);
    outline: none;
    font-weight: 500;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: #000;
    background-size: 45px;
    padding-left: 40px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.skills button.html{
    background: url('img/skills/icon html.png') no-repeat 10px center;
}
.skills button.css{
    background: url('img/skills/icon css.png') no-repeat 10px center;
}
.skills button.js{
    background: url('img/skills/icon js.png') no-repeat 10px center;
}
.skills button.typescript{
    background: url('img/skills/icon typescript.png') no-repeat 10px center;
}
.skills button.node{
    background: url('img/skills/icon nodejs.png') no-repeat 10px center;
}
.skills button.express{
    background: url('img/skills/icon express.png') no-repeat 10px center;
}
.skills button.mysql{
    background: url('img/skills/icon mysql.png') no-repeat 10px center;
}
.skills button.postgre{
    background: url('img/skills/icon postgresql.png') no-repeat 10px center;
}
.skills button.csharp{
    background: url('img/skills/icon c sharp.png') no-repeat 10px center;
}
.skills button.python{
    background: url('img/skills/icon python.png') no-repeat 10px center;
}
.skills button.java{
    background: url('img/skills/icon java.png') no-repeat 10px center;
}
.skills button.excel{
    background: url('img/skills/icon excel.png') no-repeat 10px center;
}
.skills button.figma{
    background: url('img/skills/icon figma.png') no-repeat 10px center;
}
.skills button.canva{
    background: url('img/skills/icon canva.png') no-repeat 10px center;
}
.skills button.photoshop{
    background: url('img/skills/icon photoshop.png') no-repeat 10px center;
}
.skills button.ae{
    background: url('img/skills/icon ae.png') no-repeat 10px center;
}

.scroll-top button {
    cursor: pointer;
    transition: color 0.3s;
}

.scroll-top button:hover {
    color: #b869c6;
}

.scroll-dowm button {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.scroll-dowm button:hover {
    transform: scale(1.1); 
}

.pg3{
    position: relative;
    top:-17rem;  
    left:0;
}
.projects{ 
        text-align: center;
        font-size: 30px;
        font-family: Coolvetica;
        line-height: normal;
        font-style: #fff;
}

.project-container {
    display: flex;
    justify-content: space-between;
}


.project-card {
    position: relative;
    top:-1rem;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.project-details h3 {
    text-align: left;
    margin-left: 1rem;
    font-size: 16px;
    font-family: Coolvetica;
    color: #201b2c;
    max-width: 60%; 
}

.project-details p {
    position: relative;
    top:-3rem;
    margin-right: 1px;
    margin-left: 1px;
    margin: 10px 6px;
    font-size: 12px;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-buttons a {
    position: relative;
    top:-3rem;
    left:5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin:none;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #b869c6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}



.project-buttons img {
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.project-buttons a:hover {
    background-color: #9358a4;
}
.project-buttons-stock a{
    position: relative;
    top:-4rem;
    left:5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin:none;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #b869c6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.project-buttons-stock img {
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.project-buttons-stock a:hover {
    background-color: #9358a4;
}

.project-details button{
    position: relative;
    top:-4rem;
    width: auto;
    height: auto;
    padding: 5px 5px;
    border: none;
    border-radius: 15px;
    background-color: #b869c693;
    box-shadow: none;
    outline: none;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    background-size: 45px;
    margin: 0px 0 0px 5px;
}  

.pg4{
    position: relative;
    top:-17rem;  
    left:0;
}
.about{ 
    text-align: center;
    font-size: 30px;
    font-family: Coolvetica;
    line-height: normal;
    font-style: #fff;
}

.about img{
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 5rem;
    right:45rem;
}

.about p{
    position: absolute;
    left:15rem;
    max-width: 70%; 
    text-align: justify;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pg5{
    position: relative;
    top:6rem;  
    left:0;
}

.contact h2{ 
    text-align: center;
    font-size: 30px;
    font-family: Coolvetica;
    line-height: normal;
    font-style: #fff;
}
.phone{
    display: inline-block;
    
}

.phone img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.phone h3{ 
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.phone p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}
.email{
    display: inline-block;
    margin-left: 9rem;
}
.email img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.email h3{ 
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.email p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}
.local{
    display: inline-block;
    margin-left: 9rem;
}
.local img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.local h3{ 
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.local p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}

.footer {
position: absolute;
   bottom: -140rem;
   left: 0;
   right: 0;
   width: 100%;
   height: 200px;
   background-color: #fff;
   z-index: 100 ;
}
.footer h2{
    margin-top: 20px;
    margin-left: 2%;
    float: left;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 20px;
    height: 30px;
    letter-spacing: 1px;
}
.footer p{
    position: relative;
    top:2rem;
    right:97px;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 15px;
}
.footer p.copy{
   position: relative;
   top:5rem;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 15px;
}
.icon-footer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
}

.icon-footer a {
   
    margin-left: 10px;
}
.icon-footer img {
    max-width: 40px;
    max-height: 40px;
   margin: auto;
   height: auto;
}

@media screen and (max-width: 768px)
    .main-container{
        width: 100%;
        display:block;
        flex-direction: column;
    }
    

}