@font-face {
    font-family: LEMONMILK;
    src: url(fonts/LEMONMILK-Regular.otf);
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    scroll-behavior: smooth; 
    scroll-behavior: smooth !important;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:33px 9%;
    background: aliceblue;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}
body{
    width: 100%;
    background: aliceblue;
    color:black;
    scroll-behavior: smooth;
}
.logo{
    font-family: 'Urbanist', sans-serif;
    font-size:40px;
    font-weight: 700;
    color:black;
}
.logo:hover{
    color:#b068bc;
    transition: all .55s ease;
}
.navlist{
    display:flex;
}
.navlist a{
    color:black;
    margin-left: 60px;
    font-size: 30px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom:2px solid #b068bc;
}
#menu-icon{
    color:black;
    font-size: 45px;
    z-index: 1001;
    cursor: pointer;
    display: none;
    
}
.banner{
    height:100%;
    width:100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
}
section{
    padding: 0% 19%;
}
.banner-text h5{
    font-family: 'Urbanist', sans-serif;
    font-size: 60px;
    line-height: 1;
    margin: 0px 0 10px;
}
.banner-text p{
    font-size: 26px;
    line-height: 1.9;
    margin-bottom: 20px;
}
.banner-img img{
    position: absolute;
    top:30%;
    right:5%;
    width: 650px;
    height: auto;
}
.banner-text a{
    color:white;
    background: #b068bc;
    border: 1px solid transparent;
    padding: 8px 10px;
    line-height: 1.4;
   font-family: 'Urbanist', sans-serif;;
    font-size: 14px;
    border-radius: 10px;
    transition: all .55s ease;
}
.banner-text a:hover{
    color:#b068bc;
    background: transparent;
    border: 1px solid #b068bc;
    transform: translateX(8px);
}
.icons{
    position: absolute;
    top:47%;
    left:4%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin:15px 0;
    font-size: 40px;
    color:black;
    transition: all .50s ease;
}
.icons i:hover{
    color:#b068bc;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 4%;
    right: 48%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 40px;
    color:#b068bc;
    background: transparent;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
.pg2{
    
    position: relative;
    top:-20rem;  
    left:0;
}
.skills h5{ 
    text-align: center;
    font-size: 50px;
    font-family: 'Urbanist', sans-serif;
    line-height: normal;
    font-style: #fff
}

.skills button{
    position: relative;
    width: 175px;
    padding: 20px 0px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(188,192,196,1);
    outline: none;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
    background-size: 45px;
    padding-left: 40px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.skills button.html{
    background: url('img/skills/icon html.png') no-repeat 10px center;
}
.skills button.css{
    background: url('img/skills/icon css.png') no-repeat 10px center;
}
.skills button.js{
    background: url('img/skills/icon js.png') no-repeat 10px center;
}
.skills button.typescript{
    background: url('img/skills/icon typescript.png') no-repeat 10px center;
}
.skills button.node{
    background: url('img/skills/icon nodejs.png') no-repeat 10px center;
}
.skills button.express{
    background: url('img/skills/icon express.png') no-repeat 10px center;
}
.skills button.mysql{
    background: url('img/skills/icon mysql.png') no-repeat 10px center;
}
.skills button.postgre{
    background: url('img/skills/icon postgresql.png') no-repeat 10px center;
}
.skills button.csharp{
    background: url('img/skills/icon c sharp.png') no-repeat 10px center;
}
.skills button.python{
    background: url('img/skills/icon python.png') no-repeat 10px center;
}
.skills button.java{
    background: url('img/skills/icon java.png') no-repeat 10px center;
}
.skills button.excel{
    background: url('img/skills/icon excel.png') no-repeat 10px center;
}
.skills button.figma{
    background: url('img/skills/icon figma.png') no-repeat 10px center;
}
.skills button.canva{
    background: url('img/skills/icon canva.png') no-repeat 10px center;
}
.skills button.photoshop{
    background: url('img/skills/icon photoshop.png') no-repeat 10px center;
}
.skills button.ae{
    background: url('img/skills/icon ae.png') no-repeat 10px center;
}

.scroll-top button {
    cursor: pointer;
    transition: color 0.3s;
}

.scroll-top button:hover {
    color: #b869c6;
}

.scroll-dowm button {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.scroll-dowm button:hover {
    transform: scale(1.1); 
}

.pg3{
    position: relative;
    top:-17rem;  
    left:0;
}
.projects h5{ 
    text-align: center;
    font-size: 50px;
    font-family: 'Urbanist', sans-serif;
    line-height: normal;
    font-style: #fff;
}

.project-container {
    display: flex;
    justify-content: space-between;
}


.project-card {
    position: relative;
    top:-1rem;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.project-details h3 {
    text-align: left;
    margin-left: 1rem;
    font-size: 20px;
    font-family: 'Urbanist', sans-serif;
    color: #201b2c;
    max-width: 60%; 
}

.project-details p {
    position: relative;
    top:-2rem;
    text-align: center;
    margin-top: 25px;
    width:90%;
    margin-right: 1px;
    margin-left: 1px;
    margin: 6px 6px;
    font-size: 12px;
    color: #555;
}

.project-buttons a {

   align-content: center;
    display: inline-flex;
    border: none;
    margin:none;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #b869c6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}



.project-buttons img {
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.project-buttons a:hover {
    background-color: #9358a4;
}
.project-buttons-stock a{
    display: inline-flex;
    align-items: center;
    border: none;
    margin:none;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #b869c6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.project-buttons-stock img {
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.project-buttons-stock a:hover {
    background-color: #9358a4;
}

.project-details button{
    position: relative;
    top:-55px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 4px 2px;
    border: none;
    border-radius: 15px;
    background-color: #b869c693;
    box-shadow: none;
    outline: none;
    font-size: 9px;
    background-size: 45px;
    margin: 0 0 0 1px;
}  

.pg4{
    position: relative;
    top:-17rem;  
    left:0;
}
.about h5{ 
    text-align: center;
    font-size: 50px;
    font-family: 'Urbanist', sans-serif;
    line-height: normal;
    font-style: #fff;
}

.about img{
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 5rem;
    right:45rem;
}

.about p{
    position: absolute;
    left:15rem;
    max-width: 70%; 
    text-align: justify;
    font-size: 15px;
}

.pg5{
    position: relative;
    top:6rem;  
    left:0;
}

.contact h5{ 
    font-family: 'Urbanist', sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0px 0 10px;
}
.phone{
    display: inline-block;
    
}

.phone img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.phone h3{ 
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.phone p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}
.email{
    display: inline-block;
    margin-left: 9rem;
}
.email img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.email h3{ 
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.email p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}
.local{
    display: inline-block;
    margin-left: 9rem;
}
.local img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.local h3{ 
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.local p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}

.footer {
position: absolute;
   bottom: -240rem;
   left: 0;
   right: 0;
   width: 100%;
   height: 200px;
   background-color: #fff;
   z-index: 100 ;
}
.footer h2{
    margin-top: 20px;
    margin-left: 2%;
    float: left;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 20px;
    height: 30px;
    letter-spacing: 1px;
}
.footer p{
    position: relative;
    top:2rem;
    right:97px;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 15px;
}
.footer p.copy{
   position: relative;
   top:5rem;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 15px;
}
.icon-footer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
}

.icon-footer a {
   
    margin-left: 10px;
}
.icon-footer img {
    max-width: 40px;
    max-height: 40px;
   margin: auto;
   height: auto;
}

@media screen and (max-width:1668px){
    .logo{
        font-size: 20px;
    }
    .navlist a{
        font-size: 14px;
    }
    .icons{
        position: absolute;
        top:21rem;
        left:-5rem;
    }
    .icons i{
        font-size: 25px;
        margin:35px 0;
    }
    
    .banner-text{
        position: absolute;
        top:35%;
        left:8rem;
    }
    .banner-text h5{
        font-size: 50px;
    }

    .banner-img img{
        position: absolute;
        top:20%;
        right:10%;
        max-width: 500px;
        max-height: auto;
    }
    .banner-text p{
        font-size: 13px;
        margin-right: 30%;
    }
    .pg2{
        position: relative;
        top:40%;
    }
    .containter{
        margin-left: 70px;
    }
    .skills button{
        position: relative;
        top:3rem;
        max-width: 250px;
        padding: 15px 0px;
        font-size: 13px;
        padding-left: 40px;
        
        
    }
    .pg3{
        position: relative;
        top:10rem;
    }
    .project-details p{
    text-align: center;
    margin-top: 25px;
    width: 90%;
    margin-left:35px;
    }
    .project-buttons a{
        position: relative;
        top:-25px;
        left:17rem;
    }
    .project-buttons-stock a{
        position: relative;
        top:-40px;
        left:17rem;
    }
    .btn-container{
        position: absolute;
        left:25%;
        right:10%;
    }

    .pg4{
        position: relative;
        top:90rem;
    }
    .about img{
         position: absolute;
         top:13rem;
         left:8rem;
    }
    .about p{
        position: absolute;
        left: 28rem;
        width: 50%;
    }

    .pg5{
        position: relative;
        top:115rem;
    }
    
    
}





/* @media (max-width:1920px){
    .scroll-down{   
    right: 3%;
    top:45rem;
    transition: .2s;
}
    .logo{
        font-size:30px;
    }
    .navlist a{
        font-size: 25px;
    }
    .banner-text h5{
        font-size: 54px;
        transition: .2s;
    }
    .banner-text p{
        font-size: 24px;
        transition: .2s;
    }
    .banner-img img{
        position: absolute;
        top:25%;
        width: 550px;
        transition: .2s;
    }
   
    .icons i{
        font-size: 50px;
        transition: .2s;
    }
    .banner-text a{
        padding: 20px 42px;
        font-size: 21px;
        transition: .2s;
    }
    .skills-text h5{
        font-size: 48px;
        transition: .2s;
    }
    .skills{
        position: absolute;
        top:50rem;  
    }
    .skills-btn button {
        position: relative;
        left:12rem;

    }
}
@media (max-width:1680px){
    .icons i{
        font-size: 40px;
        transition: .2s;
    }
    .banner-text h5{
        font-size: 45px;
        transition: .2s;
    }
    .banner-text p{
        font-size: 20px;
        transition: .2s;
    }
    .banner-text a{
        padding: 15px 30px;
        font-size: 16px;
        transition: .2s;
    }
    .skills-text h5{
        font-size: 39px;
        transition: .2s;
    }
    .skills-btn button {
        position: relative;
        left:8rem;
        min-width: 250px;
    }
}
@media (max-width: 1440px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
    .banner-text h5{
        font-size: 43px;
        transition: .2s;
    }
    .banner-text p{
        font-size: 18px;
        transition: .2s;
    }
    .banner-img img{
        position: absolute;
        top:28%;
        width: 500px;
        transition: .2s;
    }
    .skills-text h5{
        font-size: 40px;
        transition: .2s;
    }
    .skills-btn button {
        position: relative;
        left:8rem;
        min-width: 350px;
    }
}


@media (max-width: 1366px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
    .banner-text p{
        font-size: 16px;
        transition: .2s;
    }
    .icon{
        position: absolute;
        top:30%;
    }
    .icons i{
        
        font-size: 30px;
        transition: .2s;
    }
    .banner-img img{
        position: absolute;
        top: 19%;
    }
    .scroll-down{
        position: absolute;
        top:35rem;
    }
    .logo{
        font-size: 25px;
    }
    .navlist a{
        font-size: 18px;
        
    }
    

}
@media (max-width: 1280px){
    .logo{
        font-size:30px;
    }
    .navlist a{
        font-size: 20px;
    }
    .banner-img img{
        position: absolute;
        top: 26%;
        width:450px;
        height: auto;
    }
    .banner-text h5{
        font-size:45px;
        margin: 0 0 30px;
    }
    .banner-text p{
        font-size:18px;
        margin: 0 0 30px;
    }
    .scroll-down{
        position: absolute;
        top:45rem;
    }
    .skills-text h5{
        font-size: 45px;
        transition: .2s;
    }
    .skills-btn button {
        position: relative;
        left:4rem;
        min-width: 250px;
    }

    

}
@media (max-width: 1152px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .banner-text{
        text-align: center;
        padding-top: 115px;
    }
    .banner-text h5{
        font-size: 50px;
    }
    .banner-text p{
        font-size: 25px;
        margin: 0 0 30px;
    }
    .banner-img{
        display: none;
    }
    .banner{
        height: 100%;
        gap:1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        position: absolute;
        top:32%;
        left: 40%;
        align-items: center;
    }
    .icons i{
        display: inline-block;
    }
    .scroll-down{
        display: none;
    }
    .skills-btn button {
        position: relative;
        left:4rem;
        min-width: 220px;
    }

}
@media (max-width: 800px){
    #menu-icon{
        display:block;
    }
    .navlist{
        position: absolute;
        top:100%;
        right:-100%;
        width:300px;
        height:60vh;
        background: #c2a0cd;
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 10px;
        display: block;
        margin: 7px 0;     
    }
    .navlist.open{
        right:0;
    }
    .logo{
        font-size:20px;
    }
    .banner-text h5{
        display: inline-block;
        font-size: 30px;
    }
    .banner-text p{
        font-size: 17px;
        margin: 0 0 30px;
    }
    .banner-text a{
        padding: 10px 20px;
        font-size: 10px;
        transition: .2s;
    }
    .icons{
        position: absolute;
        top:35%;
    }
    .skills-btn button {
        position: relative;
        left:4rem;
        min-width: 300px;
        padding: 12px 10px;
        font-size: 14px;
    }
    .skills-text h5{
        font-size: 30px;
        transition: .2s;
    }
    .skills{
        position: absolute;
        top:35rem;  
    }

    
}
@media screen and (max-width:600){
    .banner-text h5{
        font-size: 10px;
    }   
    .icons{
        display: none;
    }
    .icons i{
        display: none;
        margin:15px 0;
        font-size: 40px;
        color:black;
        transition: all .50s ease;
    }

} */



/* 

@font-face {
    font-family: Coolvetica;
    src: url(fonts/LEMONMILK-Regular.otf);
}

.main-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

body.dark-theme{
    background-color: #121212;
  color: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-behavior: smooth; 
    scroll-behavior: smooth !important;
}

body{
    background-color: #f0f8ff;
    width: 960px;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #9358a4;
}

.header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 70px;
   background-color: #fff;
   box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
   z-index: 100 ;
}
.header button.logo{
    margin-top: 20px;
    margin-left: 2%;
    float: left;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 20px;
    height: 30px;
}

.header a{
    color: #201b2c;
    margin-top: 25px;
    margin-right: 1%;
    float: right;
    text-decoration: none;
    font-size: 15px;
    font-family: Coolvetica;
}

.header button{
    margin-top: 25px;
    margin-right: 1%;
    float: right;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 15px;
}

.header button.btn-right{
    position: relative;
    top: -26px ;
    margin:0;
    padding: 25px 5px;
    float: right;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #263238;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 15px;
    transition: background-color 0.3s;
    
}
.header button.btn-right:hover {
    background-color: #bcc0c46a;
    color: #201b2c;
}
.btntheme{
    position: relative;
    top:-1rem;
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
}

.header button.btn-contact{
    position: relative;
    top:-40px;
    width: 120px;
    height: 50px;
    padding: 13px 0px;
    border: 2px solid #b869c6;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    font-family: Coolvetica;
    letter-spacing: 2px;
    color: #fff;
    background-color: #b869c6;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #bcc0c4;
    margin-left: 3rem;
}
.header button.btn-contact:hover {
    background-color: #f0f8ff; 
     color: #b869c6; 
}

.icon{
    position: relative;
    top: 9rem;
    left:3rem;
}

.icon img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}
.pg1{
    display: grid;
    position: relative;
    top:-3rem;
    left:8rem;
}

.title{ 
    text-align: left;
    font-size: 30px;
    font-family: Coolvetica;
    line-height: normal;
    font-style: #fff;
   
}
.title h2{
    margin:0;
}

.title p{ 
    line-height: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 17px;
    text-align: justify;
    
}

.title button{
    position: relative;
    top:-2rem;
    width: 180px;
    padding: 13px 0px;
    border: 2px solid #b869c6;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    font-family: Coolvetica;
    letter-spacing: 2px;
    color: #f0f8ff;
    background-color: #b869c6;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #bcc0c4;
}

.title button.portfolio:hover{
        background-color: #f0f8ff; 
        color: #b869c6; 
}

.title button.scroll{
    position: relative;
    top:4rem;
    width: 200px;
    padding: 10px 10px;
    border:none;
    outline: none;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    background: url('img/icon dowm.png') no-repeat 165px center;
    background-size: 20px;
    color: #b869c6;
    cursor: pointer;
    box-shadow: none;
}

.animated{
    position: relative;
    top:-23rem;
    left:60%;  
}
.animated img{
max-width:450px;
max-height:450px;
width: auto;
height: auto;
}
.pg2{
    
    position: relative;
    top:-20rem;  
    left:0;
}
.skills{ 
        text-align: center;
        font-size: 30px;
        font-family: Coolvetica;
        line-height: normal;
        font-style: #fff;
}

.skills button {
    position: relative;
    width: 175px;
    padding: 20px 0px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(188,192,196,1);
    outline: none;
    font-weight: 500;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: #000;
    background-size: 45px;
    padding-left: 40px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.skills button.html{
    background: url('img/skills/icon html.png') no-repeat 10px center;
}
.skills button.css{
    background: url('img/skills/icon css.png') no-repeat 10px center;
}
.skills button.js{
    background: url('img/skills/icon js.png') no-repeat 10px center;
}
.skills button.typescript{
    background: url('img/skills/icon typescript.png') no-repeat 10px center;
}
.skills button.node{
    background: url('img/skills/icon nodejs.png') no-repeat 10px center;
}
.skills button.express{
    background: url('img/skills/icon express.png') no-repeat 10px center;
}
.skills button.mysql{
    background: url('img/skills/icon mysql.png') no-repeat 10px center;
}
.skills button.postgre{
    background: url('img/skills/icon postgresql.png') no-repeat 10px center;
}
.skills button.csharp{
    background: url('img/skills/icon c sharp.png') no-repeat 10px center;
}
.skills button.python{
    background: url('img/skills/icon python.png') no-repeat 10px center;
}
.skills button.java{
    background: url('img/skills/icon java.png') no-repeat 10px center;
}
.skills button.excel{
    background: url('img/skills/icon excel.png') no-repeat 10px center;
}
.skills button.figma{
    background: url('img/skills/icon figma.png') no-repeat 10px center;
}
.skills button.canva{
    background: url('img/skills/icon canva.png') no-repeat 10px center;
}
.skills button.photoshop{
    background: url('img/skills/icon photoshop.png') no-repeat 10px center;
}
.skills button.ae{
    background: url('img/skills/icon ae.png') no-repeat 10px center;
}

.scroll-top button {
    cursor: pointer;
    transition: color 0.3s;
}

.scroll-top button:hover {
    color: #b869c6;
}

.scroll-dowm button {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.scroll-dowm button:hover {
    transform: scale(1.1); 
}

.pg3{
    position: relative;
    top:-17rem;  
    left:0;
}
.projects{ 
        text-align: center;
        font-size: 30px;
        font-family: Coolvetica;
        line-height: normal;
        font-style: #fff;
}

.project-container {
    display: flex;
    justify-content: space-between;
}


.project-card {
    position: relative;
    top:-1rem;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.project-details h3 {
    text-align: left;
    margin-left: 1rem;
    font-size: 16px;
    font-family: Coolvetica;
    color: #201b2c;
    max-width: 60%; 
}

.project-details p {
    position: relative;
    top:-3rem;
    margin-right: 1px;
    margin-left: 1px;
    margin: 10px 6px;
    font-size: 12px;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-buttons a {
    position: relative;
    top:-3rem;
    left:5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin:none;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #b869c6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}



.project-buttons img {
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.project-buttons a:hover {
    background-color: #9358a4;
}
.project-buttons-stock a{
    position: relative;
    top:-4rem;
    left:5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin:none;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #b869c6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.project-buttons-stock img {
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.project-buttons-stock a:hover {
    background-color: #9358a4;
}

.project-details button{
    position: relative;
    top:-4rem;
    width: auto;
    height: auto;
    padding: 5px 5px;
    border: none;
    border-radius: 15px;
    background-color: #b869c693;
    box-shadow: none;
    outline: none;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    background-size: 45px;
    margin: 0px 0 0px 5px;
}  

.pg4{
    position: relative;
    top:-17rem;  
    left:0;
}
.about{ 
    text-align: center;
    font-size: 30px;
    font-family: Coolvetica;
    line-height: normal;
    font-style: #fff;
}

.about img{
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 5rem;
    right:45rem;
}

.about p{
    position: absolute;
    left:15rem;
    max-width: 70%; 
    text-align: justify;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pg5{
    position: relative;
    top:6rem;  
    left:0;
}

.contact h2{ 
    text-align: center;
    font-size: 30px;
    font-family: Coolvetica;
    line-height: normal;
    font-style: #fff;
}
.phone{
    display: inline-block;
    
}

.phone img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.phone h3{ 
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.phone p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}
.email{
    display: inline-block;
    margin-left: 9rem;
}
.email img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.email h3{ 
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.email p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}
.local{
    display: inline-block;
    margin-left: 9rem;
}
.local img{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    position: relative;
    top:25px;

}

.local h3{ 
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #201b2c;
}
.local p{ position: relative;
    top:-2rem;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-style: #fff;
    margin-left: 3rem;
}

.footer {
position: absolute;
   bottom: -140rem;
   left: 0;
   right: 0;
   width: 100%;
   height: 200px;
   background-color: #fff;
   z-index: 100 ;
}
.footer h2{
    margin-top: 20px;
    margin-left: 2%;
    float: left;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family:  Coolvetica;
    font-size: 20px;
    height: 30px;
    letter-spacing: 1px;
}
.footer p{
    position: relative;
    top:2rem;
    right:97px;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 15px;
}
.footer p.copy{
   position: relative;
   top:5rem;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 15px;
}
.icon-footer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
}

.icon-footer a {
   
    margin-left: 10px;
}
.icon-footer img {
    max-width: 40px;
    max-height: 40px;
   margin: auto;
   height: auto;
}

@media screen and (max-width: 768px){
    .main-container{
        width: 100%;
        display:block;
        flex-direction: column;
    }
    

} */